<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="main w-full min-h-screen bg-zinc-900 p-10">
    <a class="text-blue-800 inline-block mb-5" href="/">Go Back to Home</a>
    <h1 class="text-white text-3xl mb-4"><%= filename.replace('.txt', '') %></h1>
    <pre class="text-white bg-zinc-800 p-5 rounded-lg"><%= content %></pre>
  </div>
</body>

</html>
